<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>
  <StructureMap>
    <PluginFamily Type="iTEC.BL.Interface.Managers.IAccountManager" Assembly="iTEC.BL.Interface" DefaultKey="Default">
      <Plugin Type="iTEC.BL.AccountManager" Assembly="iTEC.BL" ConcreteKey="Default" />
    </PluginFamily>
    <PluginFamily Type="iTEC.BL.Interface.Managers.ICategoryManager" Assembly="iTEC.BL.Interface" DefaultKey="Default">
      <Plugin Type="iTEC.BL.CategoryManager" Assembly="iTEC.BL" ConcreteKey="Default" />
    </PluginFamily>
    <PluginFamily Type="iTEC.BL.Interface.Managers.IProductManager" Assembly="iTEC.BL.Interface" DefaultKey="Default">
      <Plugin Type="iTEC.BL.ProductManager" Assembly="iTEC.BL" ConcreteKey="Default" />
    </PluginFamily>
    <PluginFamily Type="iTEC.BL.Interface.Managers.IUserGroupManager" Assembly="iTEC.BL.Interface" DefaultKey="Default">
      <Plugin Type="iTEC.BL.UserManager" Assembly="iTEC.BL" ConcreteKey="Default" />
    </PluginFamily>
    <PluginFamily Type="iTEC.BL.Interface.Managers.IVoteManager" Assembly="iTEC.BL.Interface" DefaultKey="Default">
      <Plugin Type="iTEC.BL.VoteManager" Assembly="iTEC.BL" ConcreteKey="Default" />
    </PluginFamily>
    <PluginFamily Type="iTEC.BL.Interface.Managers.IUserManager" Assembly="iTEC.BL.Interface" DefaultKey="Default">
      <Plugin Type="iTEC.BL.UserManager" Assembly="iTEC.BL" ConcreteKey="Default" />
    </PluginFamily>
    <PluginFamily Type="iTEC.BL.Interface.Managers.ISessionManager" Assembly="iTEC.BL.Interface" DefaultKey="Default">
      <Plugin Type="iTEC.BL.SessionManager" Assembly="iTEC.BL" ConcreteKey="Default" />
    </PluginFamily>
    <PluginFamily Type="iTEC.BL.Interface.Managers.IMessageManager" Assembly="iTEC.BL.Interface" DefaultKey="Default">
      <Plugin Type="iTEC.BL.MessageManager" Assembly="iTEC.BL" ConcreteKey="Default" />
    </PluginFamily>
  </StructureMap>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DelightOptimisation;Integrated Security=SSPI;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <services>
      <service name ="iTEC.Services.DelightService">
        <endpoint address="" binding="basicHttpBinding" contract="iTEC.Services.IDelightService"></endpoint>    
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
